.list li a:hover {
    color: #266d6d !important;
}
#main-footer a {
    color: black;
}
.list li{
    margin-bottom: 5px;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container div:last-child {

    grid-column: 1 / span 3;
    padding: .5rem;
    font-size: 0.75rem;

}
#main-footer .footer-container div:last-child p{
    text-align: center;
}


#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}
.mobile-social-wrap a{
    margin-left: 10px;
    font-size: 25px;
}
@media only screen and (max-width: 800px) {
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container div:last-child {
        grid-column: 1;
    }
    #main-footer .footer-container div:last-child {
        grid-column: 1;
    }

    #main-footer .footer-container div:first-child,
    #main-footer .footer-container div:nth-child(2){
        border-bottom: #444 dotted 1px;
        padding-bottom: 1rem;
    }
}
